{{define "head"}}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<style>
    body {
        max-width: 900px;
        margin: 2em auto;
        line-height: 1.5;
        font-size: 12px;
    }

    * {
        font-family: Helvetica Neue, sans-serif;
    }

    .active-true {
        color: green;
    }
</style>
{{end}}

{{define "content"}}
<h1>dumpr! <img width="40" src="/dumpr.png"></h1>
{{if eq (len .Sessions) 0 }}
{{include "partials/howto"}}
{{end}}


<table
        id="sessionTable"
        class="table table-striped table-bordered sessionTable" style="width:100%">

    <thead>
    <tr>
        <th>Sessions</th>
    </tr>
    <tr>
        <th>SessionID</th>
        <th>Time</th>
        <th>IP</th>
        <th>Protocol</th>
        <th>Description</th>
        <th>Size</th>
    </tr>
    </thead>

    <tbody>
    {{ range $k, $value := .Sessions }}
    {{$size:=$value.Size}}
    <tr data-href="/v/{{$value.Key}}/" {{if $value.Active}} class="active-true" {{end}}>
        <td>{{$value.Key}}</td>
        <td data-sort="{{$value.AgeMs}}">{{$value.FormattedStartTime}}</td>
        <td>{{$value.IP}}</td>
        <td>{{$value.Protocol}}</td>
        <td>{{$value.Description}}<br/>
            {{if gt (len $value.MultiPartFiles) 0 }}
            MultiPart Files: {{len $value.MultiPartFiles}}<br/>
            {{ range $k, $file := $value.MultiPartFiles }}
            <a href="/t/{{$value.Key}}/{{$k}}">{{$k}}    {{$file.HumanSize}}<br/></a>
            {{end}}
            {{end}}


        </td>
        <td data-sort="{{$size.Val}}">{{$size.FormattedVal}}</td>
    </tr>
    {{end}}
    </tbody>
</table>
<br/>
<br/>



<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<script>
    $(function() {
        $('#sessionTable').DataTable({
            "paging":   true,
            "bLengthChange": false,
            "bPaginate": false,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": false,
            "ordering": true,
            "info":     true,
            fixedColumns: true,
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": false,

                }, {
                    "targets": [ 1 ],
                    "orderData": [ 1, 0 ],
                    width: 200,
                }, {
                    "targets": [ 4 ],
                    "orderData": [ 4, 0 ]
                }, {
                    "targets": [ 5 ],
                    width: 100,
                }
            ],
            "order": [[ 1, "asc" ]]
        })

        $('#sessionTable').on( 'click', 'tbody tr', function () {
            window.location.href = $(this).data('href');
        });
    })
</script>

{{end}}



